/CFT.UI/CFT.API/bin/
/CFT.UI/CFT.Repo/bin/
/CFT.UI/CFT.UI/bin/

/CFT.UI/CFT.API/obj/
/CFT.UI/CFT.Repo/obj/
/CFT.UI/CFT.UI/obj/

/CFT.UI/CFT.UI.v12.suo
/CFT.UI/CFT.Repo/obj/Debug/TempPE/CFT.Designer.cs.dll
/CFT.UI/CFT.Repo/obj/Debug/TempPE/CFT.cs.dll