@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><h6><strong style="color:red">C</strong>ustomer <strong style="color:red">F</strong>eedback <strong style="color:red">T</strong>ool</h6></li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="btn-sm btn-info" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><h6><strong style="color:red">C</strong>ustomer <strong style="color:red">F</strong>eedback <strong style="color:red">T</strong>ool</h6></li>
        <br />
        <li style="font-size:10px">
            Welcome, Guest <input type="button" class="btn-sm btn-info" style="height:20px; font-size:10px; padding:0px; width:59px" value="Sign In" />
        </li>

        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}

